.main{
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
.page{
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #2A2C2F;
}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1280px) {}