@import url(../vendor/normalize.css);
body{

}
.page{
    max-width: 1280px;
    font-family: Inter;
    margin: 0 auto;
    background-color: #2A2C2F;
}
.header{
    padding: 28px 48px 56px 48px;
    height: 52px;
    position: relative;
    display: flex;
    margin: 0;

}
.header__logo{
    background-image: url("/img/header-logo.svg");
    width: 176px;
    position: absolute;
    height: 52px;
}

.header__lang-links{
    align-self: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
}

.header__lang-link{
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: none;
    margin-right: 14px;
}
.header__lang-link:last-child{
    margin-right: 0px;
}
.header__active{
    text-decoration-line: underline;

}

.lead{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 92px;
}

.lead__title{
    color: #FFFF;
    max-width: 720px;
    font-weight: 900;
    line-height: 1;
    font-size: 96px;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
}

.lead__subtitle{
    color: #FFFF;
    max-width: 640px;
    font-weight: 400;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 64px;
}
.lead__image{
    max-width: 984px;
    max-height: 1005px;
    width: 100%;
    margin-bottom: 8px;
}
.lead__caption{
    width: 100%;
    max-width: 984px;
    color: #FFFF;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin:0;
}
.intro{
padding-left: 148px;
}
.intro__title{
    max-width: 690px;
    color: #FFFF;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    margin:0;
    width: 100%;
    margin-bottom: 40px;
}

.intro__text{
    max-width: 690px;
    color: #FFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin:0;
    width: 100%;
    margin-bottom: 33px;
}

.intro__list{
    color: #FFFF;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    line-height: 18px;
    font-size: 12px;
    margin-bottom: 92px;
}

.intro__list span{
    font-weight: 700;
}

.photo-grid{
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding-right: 48px;
    padding-left: 48px;
    margin-bottom: 92px;
}

.photo-grid__item{
    width: 100%;
    height: 213px;
}
.places{
    padding-left: 148px;
    margin-bottom: 92px;
}
.place{
    display: flex;
    margin-bottom: 80px;
}

.place__title{
    color: #FFFF;
    margin: 0;
    max-width: 460px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 48px;
}

.place__left{
    margin-right: 40px;
}

.place__right{
    align-self: center;
}
.place__image{
    max-width: 460px;
    height: 460px;

}

.place__url-heading{
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
    margin-bottom: 12px;
}

.place__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffff;
}

.place__link:hover{
    opacity: 80%;
}

.place__paragraph{
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #ffff;
    padding-bottom: 26px;
    margin: 0;
}

.place__paragraph:last-child{
    padding-bottom: 0px;
}

.place__website{
    margin-bottom: 48px;
}

.cover{
    background-image: url("img/cover-trains.jpg");
    background-repeat: no-repeat;
    max-width: 1184px;
    height: 740px;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 92px;
    margin-left: 48px;
}


.cover__title{
    max-width: 560px;
    color: #ffff;
    font-weight: 900;
    font-size: 72px;
    position: relative;
    z-index: 2;
    margin: 0;
    line-height: 76px;
    padding-bottom: 32px;
    text-align: center;
    text-decoration: none;
}

.cover__subtitle{
    max-width: 360px;
    color: #ffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    z-index: 2;
    position: relative;
    margin: 0;
    text-align: center;
}




.cover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.3;
    z-index: 1;
}

.cover:hover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.7;
    z-index: 1;
}

.footer{
    display: flex;
    max-width: 1184px;
    padding-left: 48px;
    justify-content: space-between;
    padding-bottom: 24px;
}

.footer__links{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.footer__link a{
    color: #ffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    margin-right: 18px;
}
.footer__link a:hover{
    opacity: 80%;
}

.footer__link:last-child{
    margin-right: 0px;
}

.footer__copyright{
    margin: 0;
    color: #ffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-self: center;
}



@media screen and (max-width: 1024px) {
    .intro,.lead,.places{
        padding-left: 48px;
    }
    .cover{
        width: 100%;
        margin: 0;
    }
    .footer{
        margin-top: 92px;
        padding-right: 48px;
    }
}
@media screen and (max-width: 768px) {
    .header{
        padding-left: 24px;
        padding-right: 24px;
    }
    .lead__subtitle{
        margin-bottom: 56px;
    }
    .lead{
    padding-left: 0;
    padding-right: 0
    }
    .lead__caption{
        padding-left: 24px;
    }
    .intro, .lead, .places{
        padding-left: 24px;
    }
    .photo-grid{
        padding-left: 24px;
        padding-right: 24px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

    }
    .place__title{
        max-width: 318px;
        font-size: 42px;
        line-height: 46px;
    }
    .place__image{
        max-width: 100%;
        height: 320px;

    }
    .place__paragraph{
        max-width: 352px;
        font-size: 16px;
        line-height: 163%;
    }
    .footer{
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (max-width: 320px) {
    .header{
        padding-left: 16px;
        padding-right: 16px;
    }
    .lead__title{
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
    }
    .lead__subtitle{
        font-size: 16px;
        line-height: 20px;
    }
    .lead{
        padding-left: 0;
}
    .lead__subtitle{
        margin-bottom: 40px;
    }
    .intro__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
    .intro__text{
        max-width: 288px;
        font-size: 16px;
        line-height: 163%;
    }
    .photo-grid{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
    }

    .photo-grid__item{
        height: 100%;
    }

    .place__title{
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
    .place{
        flex-direction: column;
    }
    .places{
        width: 100%;
   padding-left: 0;
    }
    .place__title{
        padding-left: 16px;
        padding-right: 16px;
    }
    .place__left{
        margin-right: 0;
    }
    .place__paragraph{
        padding-left: 16px;
        padding-right: 16px;
        max-width: 288px;
    }
    .place__website{
        padding-left: 16px;
        padding-right: 16px;
    }
    .cover__title{
        font-size: 32px;
        max-width: 244px;
        line-height: 35px;
    }
    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
        max-width: 244px;
    }

    .footer{
        display: flex;
        margin-top: 0;
        flex-direction: column;

    }

    .footer__link{
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }

    .footer__link:last-child{
        margin-bottom: 48px;
    }
    .footer__links{
        margin-top: 64px;
        flex-direction: column;
    }
    .footer__copyright{
        display: flex;
        align-self: start;
    }
    .place__website{
        margin-top: 32px;
    }
}



@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("fonts/Inter-Thin.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-Thin.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    font-display: swap;
    src: url("fonts/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("fonts/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-ExtraLight.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    font-display: swap;
    src: url("fonts/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("fonts/Inter-Light.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url("fonts/Inter-LightItalic.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-LightItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Inter-Italic.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("fonts/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-ExtraBold.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 800;
    font-display: swap;
    src: url("fonts/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("fonts/Inter-Black.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-Black.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    font-display: swap;
    src: url("fonts/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
    url("fonts/Inter-BlackItalic.woff?v=3.19") format("woff");
}
