.place__image {
    max-width: 100%;
    grid-area: image;
}

@media screen and (max-width: 1024px) {
    .place__image {
        font-size: 72px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 520px) {
    .place__image {

    }
}
