.header{
    padding: 28px 48px 56px 48px;
    height: 52px;
    position: relative;
    display: flex;
    margin: 0;

}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1280px) {}