.lead__image{
    max-width: 100%;
    box-sizing: content-box;
    margin-bottom: 8px;
}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1280px) {}