
.lead__subtitle{
    color: #FFFF;
    max-width: 640px;
    font-weight: 400;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 64px;
}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1280px) {}