.place {
    display: grid;
    margin-bottom: 80px;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    justify-content: flex-start;
    grid-template-areas: "title website" "image text";
}

.place:last-child {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1140px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 330px 1fr;
        gap: 36px 28px;
        margin-bottom: 72px;
    }
}

@media (min-width: 521px) and (max-width: 613px) {
    .place {
        grid-template-columns: 236px 1fr;
    }
}

@media screen and (max-width: 520px) {
    .place {
        grid-template-columns: 100%;
        gap: 32px;
        grid-template-areas: "title" "website" "image" "text";
        margin-bottom: 50px;
    }
}
